<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
          services
        </button>
      </p>
      <div style="min-height: 500px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
          <div class="card card-body" style="width: 900px;">
            <b>Quiz Creation: Create quizzes with questions, answer choices, and media.
            <br>
            Quiz Management: Edit, organize, and customize quizzes.
            <br>
            User Registration and Authentication: Allow users to create accounts and log in.
            <br>
            Quiz Taking: Users can answer questions and submit their responses.
            <br>
            Instant Feedback: Provide immediate feedback on quiz performance.
            <br>
            Results and Analytics: Summarize quiz results and provide analytics.
            <br>
            Leaderboards and Gamification: Engage users with rankings and rewards.
            <br>

            Social Sharing: Enable users to share quiz results on social media.
            <br>

            Mobile Compatibility: Access quizzes on mobile devices.
            <br>

            Security and Privacy: Ensure data protection and secure authentication.
            <br>

            Integration with LMS: Integrate with learning management systems.    </b>    </div>
        </div>
      </div>
          
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>
